@import "/assets/styles/reset.css";
@import "/assets/styles/variables.css";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*loader effect*/
.remove{
    display: none;
}
.container_circle {
    background-color: var(--color_one);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    z-index: 1;
    width: 100%; 
}

.circle_effect {
    animation-name: circle;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    background-color:var(--color_two);
    height: 250px;
    margin: 0 auto;
    width: 250px;
}

@keyframes circle {
    0% {
        background-color:var(--color_two);
        border-radius: 100%;
        transform: scale(.5);   
    }

    50% {
        background-color:var(--color_two);
        transform: scale(6.0);
        border-radius: 100%;
    }

    100% {
        background-color:var(--color_three);
        transform: scale(8.0);
        border-radius: 100%;
     
    }

}

/*style navbar*/
.nav_bar {
    animation: topToBottom ease 1.5s;
    animation-delay: 1s;
    display: flex;
    justify-content: space-between;
}

.icon{
    display: none;
}

.nav_bar  a{
    color:var(--color_two);
    font-weight: bolder;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1.5vw;
    padding: 10px 35px;
    text-align: center;
}

#nav_bar img{
    margin-left: 40px;
    width: 100px;
    height: 100px;
}

.ul_content{
    display: flex;
    justify-content: space-around;
}

.ul_content_li_a{
    margin-top:35px;
}


@keyframes topToBottom {
    0% {
      margin-top: -23%;
    }
    100% {
      margin-top: 0%;
    }
  }
/*responsive navbar styles*/

.overlay {
    background-color:var(--color_two); 
    display: flex;  
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    overflow-x: hidden;
    transition: .3s; 
  }

.ul_content_responsive{
      display: none;
}


 .btnclose {
    display:none;
  }

.active_btnclose{
    display: block;
    color: var(--color_three);
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    z-index: 1;
}

/*text slider*/

.content {
    animation-delay: 1s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font_family_two);
    height: 80vh;
}


.content_text{
    font-size: 5vw;
}
.slider_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    font-family: 'Roboto', sans-serif;
}

.slider{
    height: 90px;
    overflow: hidden;
    padding-left: 15px;
}

.slider div{
    color:var(--color_one);
    height: 50px;
    margin-bottom: 50px;
}

.slider_text_one{
    animation: slide 6s linear infinite;
}

@keyframes slide{
    
    0%{margin-top: -200px;}
    5%{margin-top: -100px;}
    66%{margin-top: -100px;}
    71%{margin-top: 0px;}
    100%{margin-top: 0px;}
}

.button1 {
    background-color: white; 
    border-radius: 8px;
    color: black; 
    border: 2px solid var(--color_one);
    font-size: 2vw;
    margin: 40px;
    padding: 10px;
}


.button1:hover  {
    background-color: var(--color_one);
    color:var(--color_three);
  }

/*projects*/


.projects{
    background-color: var(--color_two);
    color: var(--color_three);
    font-family: var(--font_family_two);
    height: auto;
    width: 100%;
}

.projects  p {
    padding: 0px 0px 30px 20px;
    font-size: 1.5vw;
    width: 60%;
}

.projects h3{
    font-size: 5vw;
    font-weight: 500;
    padding: 30px 0px 30px 20px;
}

.projects_grid_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
}

.projects_grid_item{
    height: 250px;
    overflow: hidden;
}

.projects_grid_item img{
    position: relative;
    bottom:30px;
    opacity: 0.3;
    width: 100%;
    height: 300px;
}

.projects_grid_item img:hover {
    opacity: 1; 
    transition: 1s;
    transform: scale(1.1);
}

.img_hover{
    border-radius: 100%;
    position: relative;
    bottom: 250px;
    left: 60px;
    right: 10px;
    background-color:var(--color_four);
    width: 50%;
    height: 50%;
    transform: scale(0);
    transition: .3s ease;
}
  
.projects_grid_item:hover .img_hover {
    transform: scale(1);
}
  
.text_hover {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* about me */  

.about_me{
    display: flex;
    flex-direction: column;
    color: var(--color_two);
    font-family: var(--font_family_two);
    height: auto;
    width: 100%;
}

.about_me h3{
    font-size: 5vw;
    font-weight: 500;
    padding: 90px 0px 30px 20px;
}

.about_me p {
    padding: 0px 20px 30px 20px;
    font-size: 1.5vw;
}

.about_me_text{
    display: flex;
    flex-direction: row;
}

.about_text_one, .about_text_two{
    padding: 50px;
    width: 50%;

}

/* footer */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color_two);
    width: 100%;
    height: 150px;
}

.footer_content{
    display: flex;
    justify-content: space-around;
    font-size: 3vw;
    width: 33%;
}

.fa-github{
    color:var(--color_three)
}

.fa-linkedin{
    color:#0e76a8;
}

.fa-whatsapp{
    color: #25D366;
}

.fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

footer p {
    color: var(--color_three);
    font-family: var(--font_family_two);
    padding:20px ;
}

/* responsive */

@media screen and (max-width: 1000px){

    /* responsive slider text */
    .slider_wrapper{
        display: flex;
        flex-direction: column;
    }
    .slider_text_one{
        text-align: center;
    }

    .slider_text_two{
        text-align: center;
    }

    /* responsive projects */
    .img_hover{
        position: relative;
        left: 50px;
      }

}

@media screen and (max-width: 900px){

    /* responsive slider */
    .slider{
        height: 50px;
    }

     /* responsive projects */
    .img_hover{
        position: relative;
        left: 70px;
        width: 50%;
        height: 60%;
      }

    .projects_grid_container{
        display: grid;
        grid-template-columns: auto auto auto; 
    }

    .img_10 {
        display: none;
    }

    /* responsive aboutme */

    .about_me h3{
        font-size: 8vw;
    }
    
    .about_me p {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 705px){

    /* responsive navbar */

    .ul_content {
        display: none;
        width: 0;
    }

    #nav_bar  a{
        color: var(--color_three);
        font-size: 6vw;
    }

    #nav_bar img{
        margin-left: 10px;
        width:  50px;
        height: 50px;
    }
    
    .icon {
        display: block;
        margin: 18px;
    }
     

    /* responsive projects */
    .img_hover{
        position: relative;
        left: 60px;
        width: 50%;
        height: 60%;
    }

    /* responsive footer */

    .footer_content{
        font-size: 7vw;
    }

}

@media screen and (max-width: 540px){
    /* responsive slider */
    .slider_wrapper{
        font-size: 10vw;
    }

    .button1 {
        background-color: white; 
        border-radius: 8px;
        color: black; 
        border: 2px solid var(--color_one);
        font-size: 4vw;
        margin: 20px;
        padding: 10px;
    }

    /* responsive projects */

    .projects_grid_container{
        display: grid;
        grid-template-columns: auto auto; 
    }

    .projects h3  {
        font-size: 8vw;
    }

    .projects p {
        font-size: 4vw;
        width: 100%;
    }

    .projects_grid_item{
        height: 200px;
    }

    .projects_grid_item img{
        height: 250px;
    }

    .img_7, .img_8, .img_9 {
        display: none;
    }

    .img_hover{
        position: relative;
        bottom:200px;
        left: 80px;
        width: 40%;
        height: 50%;
      }

      /* responsive about me */

    .about_me h3{
        font-size: 8vw;
        text-align: center;
    }
    
    .about_me p {
        font-size: 4vw;
    }

    .about_me_text{
        display: flex;
        flex-direction: column;
    }

    .about_text_one, .about_text_two{
        padding: 50px;
        width: 100%;
    
    }

}

@media screen and (max-width: 420px){
 
    /* responsive projects */

    .img_hover{
        position: relative;
        bottom:200px;
        left: 60px;
        width: 40%;
        height: 50%;
      }

      .text_hover {
        font-size: 15px;
      }

}






