@import "/assets/styles/reset.css";
@import "/assets/styles/variables.css";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*loader effect*/
.remove{
    display: none;
}
.container_circle {
    background-color: var(--color_one);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    z-index: 1;
    width: 100%; 
}

.circle_effect {
    animation-name: circle;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    background-color:var(--color_two);
    height: 250px;
    margin: 0 auto;
    width: 250px;
}

@keyframes circle {
    0% {
        background-color:var(--color_two);
        border-radius: 100%;
        transform: scale(.5);   
    }

    50% {
        background-color:var(--color_two);
        transform: scale(6.0);
        border-radius: 100%;
    }

    100% {
        background-color:var(--color_three);
        transform: scale(8.0);
        border-radius: 100%;
     
    }

}

/*style navbar*/
.nav_bar {
    animation: topToBottom ease 1.5s;
    animation-delay: 1s;
    display: flex;
    justify-content: space-between;
}

.icon{
    display: none;
}

.nav_bar  a , .dropdown{
    color:var(--color_two);
    font-weight: bolder;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1em;
    padding: 10px 35px;
    text-align: center;
}

#nav_bar img{
    margin-left: 40px;
    width: 100px;
    height: 100px;
}

.ul_content{
    display: flex;
    justify-content: space-around;
}

.ul_content_li_a{
    margin-top:35px;
}


@keyframes topToBottom {
    0% {
      margin-top: -23%;
    }
    100% {
      margin-top: 0%;
    }
  }

/*dropdown
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.fa-github{
    color:var(--color_two)
}

.fa-linkedin{
    color:#0e76a8;
}

.fa-whatsapp{
    color: #25D366;
}

.fa-instagram{
    color: #C13584;;
}

.dropdown-content i {
    font-size: 25px;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}*/


/*text slider*/

.content {
    animation: BottomToTop ease 1.2s;
    animation-delay: 1s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font_family_two);
    height: 80vh;
}

@keyframes BottomToTop{
    0% {
      margin-bottom: -23%;
    }
    100% {
      margin-bottom: 23%;
    }
}

.content_text{
    font-size: 30px;
}
.slider_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
}

.slider{
    height: 80px;
    overflow: hidden;
    padding-left: 15px;
}

.slider div{
    color:var(--color_one);
    height: 50px;
    margin-bottom: 50px;
}

.slider_text_one{
    animation: slide 6s linear infinite;
}

@keyframes slide{
    
    0%{margin-top: -200px;}
    5%{margin-top: -100px;}
    66%{margin-top: -100px;}
    71%{margin-top: 0px;}
    100%{margin-top: 0px;}
}

/* responsive */

@media screen and (max-width: 1000px){
    .slider_wrapper{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .slider_text_one{
        text-align: center;
    }

    .slider_text_two{
        text-align: center;
    }

}



@media screen and (max-width: 705px){

    .fa-github{
        animation-name: floating_github;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes floating_github {
        from { transform: translate(0,  0px); }
        65%  { transform: translate(0, 10px); }
        to   { transform: translate(0, 0px); }    
    }

    .fa-linkedin{
        animation-name: floating_linkedin;
        animation-duration: 4.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes floating_linkedin {
        from { transform: translate(0, 0px); }
        65%  { transform: translate(0, 10px); }
        to   { transform: translate(0, -0px); }    
    }

    .fa-whatsapp{
        animation-name: floating_whatsapp;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes floating_whatsapp {
        from { transform: translate(0,  0px); }
        65%  { transform: translate(0, 10px); }
        to   { transform: translate(0, 0px); }    
    }

    .fa-instagram{
        animation-name: floating_instagram;
        animation-duration: 4.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes floating_instagram{
        from { transform: translate(0, 0px); }
        65%  { transform: translate(0, 10px); }
        to   { transform: translate(0, -0px); }    
    }

    .dropdown-content a{
        padding: 10px;
    }

    .dropdown-content a i{
        background-color: #f9f9f9;
        border-radius: 100%;
        padding: 8px;
    }

    .fa-caret-down{
        display: none;
    }
    
    .ul_content {
        display: none;
        width: 0;
    }

    #nav_bar  a, .dropdown{
        color: var(--color_three);
    }

    #nav_bar img{
        margin-left: 10px;
        width:  50px;
        height: 50px;
    }
    
    .slider_wrapper{
        font-size: 50px;
    }

    .icon {
        display: block;
        margin: 18px;
    }

}

@media screen and (max-width: 540px){
    .slider_wrapper{
        font-size: 30px;
    }

}

/*responsive navbar*/

.overlay {
    background-color:var(--color_two); 
    display: flex;  
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    overflow-x: hidden;
    transition: .3s; 
  }

  .ul_content_responsive{
      display: none;
  }


 .btnclose {
    display:none;
  }

.active_btnclose{
    display: block;
    color: var(--color_three);
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    z-index: 1;
}

/*projects*/


.projects{
    background-color: var(--color_two);
    color: var(--color_three);
    font-family: var(--font_family_two);
    height: auto;
    width: 100%;
}

.projects  p {
    padding: 0px 0px 30px 40px;
}

.projects h3{
    font-size: 60px;
    font-weight: 500;
    padding: 30px 0px 30px 30px;

}

.projects_grid_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
}

.projects_grid_item{
    overflow: hidden;
    height: 250px;
}

.projects_grid_item img{
    position: relative;
    bottom:30px;
    right: 20px;
    opacity: 0.3;
    transform: scale(.9); 
    width: 300px;
    height: 300px;
}

.projects_grid_item img:hover {
    opacity: 1; 
    transition: 1s;
    transform: scale(1);
}

.img_hover{
    border-radius: 100%;
    position: relative;
    bottom: 250px;
    left: 60px;
    right: 10px;
    background-color:var(--color_four);
    width: 50%;
    height: 50%;
    transform: scale(0);
    transition: .3s ease;
  }
  
  .projects_grid_item:hover .img_hover {
    transform: scale(1);
  }
  
  .text_hover {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }