:root{
    --color_one:#fede59;
    --color_two:#000000;
    --color_three:#ffff;
    --color_four:#008CBA;
    --font_family_one:'Gowun Dodum', sans-serif;
    --font_family_two:'Roboto', sans-serif;
}